* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Underdog", cursive;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  background-color: #ddab5f;
}

button {
  transition: all 0.1s;
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
a:active {
  color: #41311b;
}
button:hover {
  background-color: #f6b758;
}

.items {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo__img {
  width: 69px;
  height: 69px;
}

.link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.signup {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 16px 50px;
  border: 3px solid #f5e2cf;
  border-radius: 10px;
  background-color: #ddab5f;
}

.checkin {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 16px 24px;
  border: 3px solid #f5e2cf;
  border-radius: 10px;
  background-color: #f5e2cf;
}

/* ______________Burger Menu___________________________________ */

.burger_menu {
  position: fixed;
  right: -1000px;
  top: 100px;
  max-width: 343px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  z-index: -1;
}

.burger_active {
  right: 0;
  opacity: 1;
  z-index: 1;
}

.burger_content {
  max-width: 343px;
  width: 100%;
  background: #f5e2cf;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 36px;
  position: relative;
}

.burger_buttons {
  display: flex;
  margin-bottom: 22px;
}
.login_btn-burger {
  border: 3px solid #ddab5f;
  box-sizing: border-box;
  border-radius: 10px;
  background: none;
  font-family: Underdog;
  font-weight: normal;
  font-size: 12px;
  height: 40px;
  padding: 13px 36px;
  color: #000000;
  display: flex;
  align-items: center;
  /* display: none; */
}
.login_btn-burger img {
  margin-left: 6px;
}

.registr_btn-burger {
  box-sizing: border-box;
  border-radius: 10px;
  background: #ddab5f;
  font-family: Underdog;
  font-weight: normal;
  font-size: 12px;
  height: 40px;
  padding: 13px 18px;
  color: #000000;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.burger_link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  /* padding: 20px 0; */
  transition: all 0.3s;
  margin-bottom: 20px;
}
.burger_link:hover {
  background: rgba(221, 171, 95, 1);
}

.burger_bg {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.burger {
  display: none;
}

.burger__line {
  width: 50px;
  height: 8.47px;
  background: #ffffff;
  border-radius: 6px;
}

.burger__line-center {
  margin: 8px 0;
}

.logo-white {
  display: none;
}

/* _____________________________________________________________ */
.bg__author-img {
  background-image: url(/images/author__bg-author.svg);
  background-repeat: no-repeat;
  max-width: 1600px;
  width: 100%;
  height: 900px;
  position: relative;
}
.author__text-title {
  color: #fff;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular__link-none {
  display: none;
}

.popular__title {
  margin-top: 100px;
  margin-bottom: 48px;
}

.popular__title-text {
  font-size: 75px;
}
.popular__boxs {
  flex-wrap: wrap;
  display: flex;
}
.popular__box-user {
  position: relative;
}

.about__author {
  position: absolute;
  color: #fff;
  top: 62%;
  left: 22px;
}
.name__users {
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  font-family: Ruslan Display;
  line-height: 86%;
}

.about__users {
  font-family: Ruslan Display;
  font-size: 14px;
  line-height: 20px;
}
.popular__img {
  width: 285px;
  height: 270px;
  border-radius: 33px;
}

.popular__box {
  width: 285px;
  height: 270px;
  background: #f5e2cf;
  border: 3px solid #000000;
  border-radius: 33px;
  transition: all 0.5s;
}

.popular__box:hover {
  z-index: 2;
  opacity: 1;
  text-decoration: none;
  transform: rotate(-6.02deg);
}

.popular__name {
  display: flex;
  align-items: center;
  font-size: 22px;
  width: 98%;
  text-align: center;
  margin-top: 100px;
}

/* .popular__box-deg {
  transform: rotate(-6.02deg);
} */

.popular__links {
  margin-top: 20px;
}

.populars__blocks {
  display: flex;
}

.popular__link {
  font-size: 34px;
  color: #000;
}

.popular__symbol {
  display: flex;
  flex-direction: column;
}

.popular__allauthor {
  margin-left: 30px;
  font-size: 36px;
  color: #000;
}

.popular__arrows {
  display: flex;
  margin-top: 200px;
  margin-left: 40px;
}
.arrow {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.arrow__deg {
  margin-left: 20px;
  transform: rotate(180deg);
}

.popular__circles {
  display: flex;
  align-items: center;
  margin-top: 230px;
  margin-left: 40px;
}
.popular__circle-big {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
.popular__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  margin-left: 10px;
  cursor: pointer;
}
.all {
  margin-top: 245px;
}

.all__title {
  font-size: 96px;
  margin-bottom: 40px;
}
.all__search {
  display: flex;
}
.all__input {
  padding: 15px;
  border: none;
  outline: none;
  max-width: 642px;
  width: 100%;
  height: 59px;
  font-size: 20px;
  background: #f5e2cf;
}

.all__search-icon {
  width: 60px;
  height: 59px;
  background: #f5e2cf;
  cursor: pointer;
}

.search-icon {
  margin-top: 10px;
  margin-left: 10px;
}
.all__blocks {
  width: 100%;
  margin-top: 40px;
}
.all__block {
  max-width: 950px;
  width: 100%;
  padding: 5px 15px;
  background: #f5e2cf;
  border: 3px solid #000000;
  border-radius: 20px;
}

.all__block-text {
  font-size: 36px;
}

.all__block-p {
  font-size: 18px;
}

.all__block-name {
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
}

.all__block-white, .all__block-grey {
  max-width: 950px;
  width: 100%;
  height: 100px;
  background: #f5e2cf;
  border: 3px solid #000000;
  border-radius: 20px;
}

.all__symbols-arrows {
  margin-top: 220%;
  margin-left: 30px;
  display: flex;
}
.all__content {
  display: flex;
}
.popular__symbol-links {
  display: none;
}
.footer {
  margin-top: 131px;
  width: 100%;
  background: #ddab5f;
  padding: 39px 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link-a {
  margin-bottom: 26px;
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.footer__link-a:last-child {
  margin-right: 0;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.social__link {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.social__icons {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.cocial__icon {
  margin-top: 20px;
}

.social__icon-img {
  max-width: 38px;
  width: 100%;
  height: 38px;
  margin-right: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s;
}

.social__icon-img:hover {
  opacity: 1;
}

.social__icon-img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  /* стили для больших планшетов - начало */
  .author__text-title {
    font-size: 80px;
  }
  .popular__boxs {
    flex-wrap: wrap;
  }
  .popular__box {
    width: 225px;
    height: 230px;
  }
  .popular__box-deg {
    transform: none;
  }
  .popular__img {
    width: 225px;
    height: 217px;
  }
  .name__users {
    font-size: 26px;
  }
  .about__users {
    font-size: 13px;
    margin-top: 5px;
    text-align: left;
    width: 81%;
  }
  .popular__circle-big {
    width: 30px;
    height: 30px;
  }
  .popular__circle {
    width: 15px;
    height: 15px;
  }
  .arrow {
    width: 70px;
    height: 70px;
  }

  .all__block-text {
    font-size: 28px;
  }

  .all__block-name {
    font-size: 20px;
  }

  .all__block-p {
    font-size: 16px;
  }
}

@media screen and (max-width: 769px) {
  /* стили планшет - ipad Mini*/
  .items {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .logo__img-main {
    display: none;
  }

  .logo__img {
    width: 56px;
    height: 56px;
  }

  .logo-white {
    display: flex;
    width: 56px;
    height: 56px;
  }
  .burger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }

  .sign {
    display: none;
  }

  .author__text-title {
    font-size: 70px;
  }
  .link {
    display: none;
  }

  .all__blocks {
    padding: 30px;
  }
  .popular__title-text {
    font-size: 65px;
    margin-left: 40px;
  }
  .all__block-name {
    font-size: 23px;
  }

  .all__search {
    padding: 30px;
  }
  .all__input {
    max-width: 480px;
    width: 100%;
  }
  .popular__link,
  .popular__allauthor {
    font-size: 24px;
    margin-left: 25px;
  }
  .all__title {
    font-size: 65px;
    margin-left: 40px;
  }

  .populars__blocks {
    margin: 0 34px;
    display: flex;
    flex-direction: column;
  }

  .popular__links {
    display: none;
  }

  .popular__symbol {
    padding: 0 30px;
    display: flex;
    margin-top: 60px;
    position: relative;
  }

  .popular__symbol-links {
    display: block;
  }

  .popular__allauthor {
    position: absolute;
    right: 6%;
    bottom: 110%;
  }

  .popular__arrows {
    margin-top: 28px;
    margin-left: 31%;
  }
  .popular__circles {
    position: absolute;
    left: 32%;
    margin-top: 0;
    margin-left: 0;
  }

  .all__content {
    display: flex;
    flex-direction: column;
  }
  .all__symbols-arrows {
    margin-top: 30px;
    margin-left: 33%;
  }
  .footer__link {
    max-width: 264px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer__link-a {
    font-size: 20px;
  }
  .footer__links {
    padding: 0 30px;
    flex-wrap: wrap;
  }

  .socials {
    padding: 0 30px;
  }
  .social__icons {
    margin-right: 30px;
  }

  .social__link {
    font-size: 16px;
  }

  .footer__link-btm {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {

  .bg__author-img {
    height: 600px;
  }

  .author__text-title {
    font-size: 50px;
  }
  .all {
    margin-top: 60px;
  }

  .footer__link {
    margin-top: 20px;
    margin-right: 0;
  }

  .footer__link-btm {
    margin-top: 20px;
  }

  .popular__title-text,
  .all__title {
    font-size: 40px;
  }

  .all__block-text,
  .all__block-name {
    font-size: 18px;
  }

  .all__block-p {
    font-size: 14px;
  }

  .social__icons {
    margin-left: 10px;
    margin-right: 0;
  }

  .all__search {
    padding: 0 30px;
  }

  .all__blocks {
    padding: 0 30px;
    margin-top: 40px;
  }

  .all__input {
    padding: 8px;
    height: 50px;
    font-size: 16px;
  }
  .all__search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .popular__allauthor {
    display: none;
  }
  .search-icon {
    width: 30px;
    height: 35px;
    margin-top: 0;
    margin-left: 0;
  }

  .socials {
    padding: 0 18px;
  }

  .cocial__icon {
    margin-top: 10px;
    display: flex;
  }
  .social__icon-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 320px) {
  /* iPhone SE/5 ---- одаптивка */

  /* __________________header__________________________ */
  .items {
    height: 70px;
    justify-content: space-between;
    padding: 0 12px;
  }

  .logo__img {
    width: 36px;
    height: 36px;
  }

  .logo__img-main {
    width: 36px;
    height: 36px;
  }

  .sign {
    display: none;
  }

  .burger_content {
    padding: 10px 0 0 10px;
  }

  .burger_link {
    font-size: 14px;
  }

  .burger__line {
    width: 39px;
    height: 6px;
  }

  /* __________________________________________________ */

  .author__text-title {
    font-size: 24px;
  }

  
  .bg__author-img {
    height: 400px;
  }

  .popular {
    padding: 0 12px;
  }

  .popular__title-text {
    font-size: 24px;
    margin-left: 0;
  }

  .popular__boxs {
    margin-left: 0;
  }

  .popular__img {
    max-width: 148px;
    width: 100%;
    height: 142px;
    border-radius: 10px;
  }

  .populars__blocks {
    flex-direction: column;
  }

  .popular__box-user,
  .popular__box {
    border: 1px solid #000;
    max-width: 139px;
    width: 100%;
    height: 143px;
    border-radius: 10px;
  }

  .popular__box-user {
    border: none;
  }

  .about__author {
    top: 46%;
    left: 14px;
  }

  .name__users {
    font-size: 18px;
  }

  .about__users {
    font-size: 10px;
    line-height: 12px;
  }

  .popular__title {
    margin-top: 28px;
    margin-bottom: 18px;
  }

  .popular__name {
    font-size: 12px;
    margin-top: 50px;
  }

  .popular__symbol {
    padding: 0 12px;
    margin-top: 30px;
  }

  .popular__link-none {
    display: flex;
    font-size: 14px;
    margin-left: 0;
  }

  .popular__allauthor {
    margin-left: 0;
    font-size: 14px;
    right: 10%;
    top: 2px;
  }

  .popular__circles {
    display: none;
    top: 20%;
  }

  .popular__circle-big {
    width: 17px;
    height: 17px;
  }

  .popular__circle {
    width: 8px;
    height: 8px;
    margin-left: 6px;
  }

  .all__symbols-arrows {
    margin-top: 0;
  }

  .popular__arrows {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
  }

  .arrow {
    width: 38px;
    height: 42px;
  }

  .all {
    margin-top: 60px;
    padding: 0 12px;
  }

  .all__title {
    font-size: 24px;
    margin-left: 0;
  }

  .all__blocks {
    padding: 0;
  }

  .populars__blocks {
    margin: 0;
  }

  .popular__box-user {
    position: relative;
  }

  .about__author {
    position: absolute;
    top: 32%;
    left: 6%;
  }

  .all__search {
    padding: 0;
  }

  .all__input {
    max-width: 259.67px;
    max-width: 100%;
    width: 100%;
    height: 35px;
    margin-left: 0;
    padding: 10px;
    font-size: 10px;
  }

  .all__search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 35px;
  }

  .search-icon {
    width: 20px;
    height: 22px;
    margin-top: 0;
    margin-left: 0;
  }

  .all__block,
  .all__block-grey,
  .all__block-white {
    max-width: 295px;
    width: 100%;
    height: 43px;
    border-radius: 10px;
    margin-left: 0;
    background: #f5e2cf;
    border: 1px solid #000000;
    padding: 7px;
  }

  .all__block {
    height: 64px;
  }

  .all__block-text,
  .all__block-name {
    font-size: 14px;
    margin-top: 0;
    margin-left: 0;
  }

  .all__block-name {
    display: flex;
    justify-content: flex-end;
  }

  .all__block-p {
    font-size: 10px;
    margin-left: 0;
    margin-top: 0;
  }

  /* ____________________________footer____________________________ */

  .footer {
    margin-top: 70px;
  }

  .footer__links {
    padding: 0 12px;
  }
  .footer__link-a {
    margin-bottom: 6px;
    line-height: 12px;
    font-size: 10px;
  }

  .socials {
    margin-top: 35px;
    padding: 0 12px;
    align-items: flex-end;
  }
  .social__link {
    font-size: 12px;
    width: 100%;
    line-height: 16px;
  }

  .social__icons {
    margin-top: 5px;
    margin-right: 0;
  }

  .social__icon-img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

  .social__icon-img:first-child {
    margin-left: 5px;
  }
}
