* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Underdog", cursive;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  background-color: #ddab5f;
}

.items {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo__img {
  width: 69px;
  height: 69px;
}

.link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.signup {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 10px 30px;
  border: 3px solid #f5e2cf;
  border-radius: 10px;
  background-color: #ddab5f;
}

.checkin {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 10px 30px;
  border: 3px solid #f5e2cf;
  border-radius: 10px;
  background-color: #f5e2cf;
}

.burger_menu {
  position: fixed;
  right: -1000px;
  top: 100px;
  max-width: 343px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  z-index: -1;
}

.burger_active {
  right: 0;
  opacity: 1;
  z-index: 1;
}

.burger_content {
  max-width: 343px;
  width: 100%;
  background: #f5e2cf;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 36px;
  position: relative;
}

.burger_buttons {
  display: flex;
  margin-bottom: 22px;
}
.login_btn-burger {
  border: 3px solid #ddab5f;
  box-sizing: border-box;
  border-radius: 10px;
  background: none;
  font-family: Underdog;
  font-weight: normal;
  font-size: 12px;
  height: 40px;
  padding: 13px 36px;
  color: #000000;
  display: flex;
  align-items: center;
  /* display: none; */
}
.login_btn-burger img {
  margin-left: 6px;
}

.registr_btn-burger {
  box-sizing: border-box;
  border-radius: 10px;
  background: #ddab5f;
  font-family: Underdog;
  font-weight: normal;
  font-size: 12px;
  height: 40px;
  padding: 13px 18px;
  color: #000000;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.burger_link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  /* padding: 20px 0; */
  transition: all 0.3s;
  margin-bottom: 20px;
}
.burger_link:hover {
  background: rgba(221, 171, 95, 1);
}

.burger_bg {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.burger {
  display: none;
}

.burger__line {
  width: 50px;
  height: 8.47px;
  background: #ffffff;
  border-radius: 6px;
}

.burger__line-center {
  margin: 8px 0;
}

.logo-white {
  display: none;
}

button {
  transition: all 0.1s;
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
a:active {
  color: #41311b;
}
button:hover {
  background-color: #f6b758;
}

.bg__author-img {
  background-image: url(/images/works__bg.svg);
  max-width: 1600px;
  width: 100%;
  height: 900px;
  position: relative;
}

.author__text-title {
  color: #fff;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works__title {
  font-size: 66px;
  margin-bottom: 60px;
}

.works {
  padding: 0 30px;
  margin-top: 110px;
}

.works__block-top {
  display: flex;
  flex-wrap: wrap;
}

.works__block-bottom {
  display: flex;
}

.works__block-main {
  max-width: 280px;
  width: 100%;
  height: 280px;
  background: #f5e2cf;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 20px;
}

.block__main-text {
  font-size: 20px;
}

.block__main-large {
  font-size: 16px;
}

.block__main-textcenter {
  font-size: 20px;
  margin-top: 25%;
  text-align: center;
  display: flex;
}

.block__main-textend {
  font-size: 30px;
  display: flex;
  margin-top: 20%;
  margin-left: 68%;
}

.works__block-white {
  max-width: 280px;
  width: 100%;
  height: 280px;
  border: 3px solid #000;
  background: rgba(129, 129, 129, 0.397);
  border-radius: 20px;
  padding: 20px;
}

.works__block-grey {
  max-width: 280px;
  width: 100%;
  height: 280px;
  border: 3px solid #000;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.527);
  padding: 20px;
}

.all {
  padding: 0 30px;
  margin-top: 245px;
}

.all__title {
  font-size: 96px;
  margin-bottom: 40px;
}
.all__search {
  display: flex;
}
.all__input {
  padding: 5px 15px;
  border: none;
  outline: none;
  width: 642px;
  height: 59px;
  font-size: 20px;
  background: #f5e2cf;
}

.all__search-icon {
  width: 60px;
  height: 60px;
  background: #f5e2cf;
  cursor: pointer;
}

.search-icon {
  margin-top: 10px;
  margin-left: 10px;
}
.all__blocks {
  width: 100%;
  margin-top: 40px;
}
.all__block {
  max-width: 950px;
  width: 100%;
  height: 110px;
  background: #f5e2cf;
  border: 3px solid #000000;
  border-radius: 20px;
}

.all__block-text {
  font-size: 36px;
  margin-top: 10px;
  margin-left: 10px;
}

.all__block-p {
  font-size: 18px;
  margin-left: 10px;
}

.all__block-name {
  font-size: 24px;
  justify-content: flex-end;
  display: flex;
  margin-right: 10px;
}

.all__block-grey,
.all__block-white {
  max-width: 950px;
  width: 100%;
  height: 100px;
  background: #f5e2cf;
  border: 3px solid #000000;
  border-radius: 20px;
}

.all__symbols-arrows {
  margin-top: 220%;
  margin-left: 30px;
  display: flex;
}
.all__content {
  display: flex;
}

.arrow {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.arrow__deg {
  margin-left: 20px;
  transform: rotate(180deg);
}

.popular__circles {
  display: flex;
  align-items: center;
  margin-top: 230px;
  margin-left: 40px;
}

.popular__circle-big {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
.popular__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  margin-left: 10px;
  cursor: pointer;
}

.footer {
  margin-top: 130px;
  width: 100%;
  background: #ddab5f;
  padding: 39px 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: flex;
  flex-direction: column;
}

.footer__link-a {
  margin-bottom: 26px;
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.footer__link-a:last-child {
  margin-right: 0;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.social__link {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.social__icons {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.cocial__icon {
  margin-top: 20px;
}

.social__icon-img {
  max-width: 38px;
  width: 100%;
  height: 38px;
  opacity: 0.5;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.social__icon-img:hover {
  opacity: 1;
}

.social__icon-img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .nav {
    padding: 0 20px;
  }

  .bg__author-img {
    height: 650px;
  }

  .works__block-main {
    padding: 12px;
    position: relative;
  }

  .block__main-textcenter {
    display: none;
  }

  .block__main-textend {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    right: 12px;
    bottom: 12px;
  }

  .all__block {
    padding: 12px;
    position: relative;
    height: 132px;
  }

  .all__block-text {
    margin-top: 0;
    margin-left: 0;
  }

  .all__block-p {
    margin-left: 0;
  }

  /* __________________footer__________________ */

  .footer {
    padding: 40px 30px;
  }

  .footer__links {
    flex-wrap: wrap;
    grid-gap: 20px;
  }

  /* ______________________________________________ */
}

@media screen and (max-width: 769px) {
  /* стили планшет - ipad Mini*/
  /*__________________________________header___________________________ */
  .items {
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
  }

  .sign {
    display: none;
  }

  .burger__menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .link {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .logo__img-main {
    display: none;
  }

  .logo__img {
    width: 50px;
    height: 50px;
  }
  .logo-white {
    width: 50px;
    height: 50px;
    display: flex;
  }
  /* _________________________________________________________________________ */

  .author__text-title {
    font-size: 72px;
  }

  .works__block-main {
    position: relative;
  }

  .block__main-textend {
    bottom: 10px;
    right: 15px;
    position: absolute;
  }

  .all__content {
    display: flex;
    flex-direction: column;
  }

  .works__block-bottom {
    display: none;
  }

  .works__block-main {
    max-width: 220px;
    width: 100%;
    height: 220px;
  }

  .works__title,
  .all__title {
    font-size: 56px;
  }

  .all__symbols-arrows {
    margin-top: 20px;
    margin-left: 0;
  }

  .all {
    margin-top: 124px;
  }

  .popular__circles {
    margin-top: 30px;
    margin-left: 0;
  }

  .all__symblos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .all__block-grey,
  .all__block-white,
  .all__block {
    border: 2px solid #000000;
  }

  .all__block-text,
  .all__block-name {
    font-size: 28px;
  }

  .all__block-p {
    font-size: 20px;
  }

  /*__________________________________footer___________________________ */

  .footer {
    padding: 20px;
  }

  .footer__link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer__links {
    flex-wrap: wrap;
  }

  .social__icons {
    margin-right: 30px;
  }

  .footer__link-a {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .social__link {
    font-size: 16px;
  }

  .cocial__icon {
    margin-top: 10px;
  }

  .social__icon-img {
    max-width: 30px;
    width: 100%;
    height: 30px;
    margin-right: 14px;
  }

  /* _________________________________________________________________________ */
}

@media screen and (max-width: 576px) {

  .nav {
    padding: 0;
  }
  .author__text-title {
    font-size: 46px;
  }

  .works {
    padding: 0 20px;
  }

  .works__title,
  .all__title {
    font-size: 40px;
  }
  .all__input {
    height: 52px;
    font-size: 16px;
  }

  .all__block {
    padding: 10px;
    height: 90px;
  }

  .all__block-text,
  .all__block-name {
    font-size: 20px;
  }

  .all__block-p {
    font-size: 16px;
  }

  .popular__circle-big {
    width: 30px;
    height: 30px;
  }

  .popular__circle {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }

  .all__search-icon {
    width: 74px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon {
    width: 30px;
    height: 30px;
    margin-top: 0;
    margin-left: 0;
  }

  .social__icons {
    margin-right: 9px;
  }

  .arrow {
    width: 60px;
    height: 60px;
  }

  .cocial__icon {
    display: flex;
  }

  .socials {
    margin-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  /* iPhone SE/5 ---- одаптивка */

  /* __________________header__________________________ */

  .nav {
    padding: 0;
  }
  .bg__author-img {
    height: 520px;
  }
  .items {
    height: 70px;
    justify-content: space-between;
    padding: 0 12px;
  }

  .logo__img {
    width: 36px;
    height: 36px;
  }

  .logo__img-main {
    width: 36px;
    height: 36px;
  }

  .sign {
    display: none;
  }

  .burger__line {
    width: 35px;
    height: 4.47px;
  }

  .burger_content {
    padding-left: 16px;
  }

  .burger_link {
    font-size: 14px;
  }

  /* __________________________________________________ */

  .author__text-title {
    font-size: 24px;
  }

  .works {
    margin-top: 60px;
    padding: 0 12px;
  }

  .works__title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .works__block-main {
    max-width: 138px;
    width: 100%;
    height: 140px;
    padding: 10px;
    border: 1px solid #000000;
  }

  .block__main-text {
    font-size: 15px;
  }

  .block__main-large,
  .block__main-textend {
    font-size: 10px;
  }

  .block__main-textcenter {
    display: none;
  }

  .all {
    padding: 0 12px;
    margin-top: 60px;
  }
  .all__title {
    font-size: 24px;
    margin-bottom: 19px;
  }

  .all__input {
    max-width: 259px;
    width: 100%;
    height: 35px;
    border: 1px solid #000000;
    padding: 8px;
    font-size: 14px;
  }

  .all__search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 36.93px;
    width: 100%;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 1px;
  }

  .search-icon {
    margin: 0;
    width: 20px;
    height: 22px;
  }

  .all__block {
    padding: 10px;
    max-width: 295px;
    width: 100%;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 10px;
  }

  .all__block-text {
    margin: 0;
    font-size: 14px;
  }

  .all__block-p,
  .all__block-name {
    font-size: 10px;
    margin: 0;
  }

  .all__block-grey,
  .all__block-white {
    padding: 10px;
    max-width: 295px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
  }

  .popular__circle-big {
    width: 16px;
    height: 16px;
  }

  .popular__circle {
    width: 8px;
    height: 8px;
    margin-left: 8px;
  }

  .all__symbols-arrows {
    margin-top: 10px;
  }

  .popular__arrows {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
  }

  .arrow {
    width: 38px;
    height: 42px;
  }

  /* ____________________________footer____________________________ */

  .footer {
    margin-top: 70px;
  }

  .footer__links {
    padding: 0 12px;
  }
  .footer__link-a {
    margin-bottom: 6px;
    line-height: 12px;
    font-size: 10px;
  }

  .socials {
    margin-top: 35px;
    padding: 0 12px;
    align-items: flex-end;
  }
  .social__link {
    font-size: 12px;
    width: 100%;
    line-height: 16px;
  }

  .social__icons {
    margin-top: 5px;
    margin-right: 0;
  }

  .social__icon-img {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }
}

/* @media (max-width: 576px) {
  .registr_btn-burger,
  .login_btn-burger {
    display: flex;
  }
  .burger_menu {
    top: 70px;
    max-width: 255px;
  }
  .burger_content {
    max-width: 255px;
    padding-left: 20px;
    padding-top: 12px;
  }
  .burger_link {
    font-size: 18px;
  }
}

.burger_menu {
  position: fixed;
  right: -1000px;
  top: 100px;
  max-width: 343px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  z-index: -1;
}
.burger_active {
  right: 0;
  opacity: 1;
  z-index: 1;
}
.burger_content {
  max-width: 343px;
  width: 100%;
  background: #f5e2cf;
  height: 249px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 36px;
  position: relative;
}
.burger_link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  /* padding: 20px 0; 
  transition: all 0.3s;
  margin-bottom: 20px;
}
.burger_link:hover {
  background: rgba(221, 171, 95, 1);
}
.burger_close_btn {
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
}
.burger_bg {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.login_btn-burger {
  border: 3px solid #ddab5f;
  box-sizing: border-box;
  border-radius: 10px;
  background: none;
  font-family: Underdog;
  font-weight: normal;
  font-size: 12px;
  width: 110px;
  height: 40px;
  padding: 13px 36px;
  color: #000000;
  display: flex;
  align-items: center;
  display: none;
}
.registr_btn-burger {
  box-sizing: border-box;
  border-radius: 10px;
  background: #ddab5f;
  font-family: Underdog;
  font-weight: normal;
  font-size: 12px;
  width: 110px;
  height: 40px;
  padding: 13px 18px;
  color: #000000;
  display: flex;
  align-items: center;
  display: none;
  margin-left: 10px;
}
.burger_buttons {
  display: flex;
  margin-bottom: 22px;
}
.login_btn-burger img {
  margin-left: 6px;
} */
